[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
"repoze.lru" = "*"
Babel = "*"
chardet = "*"
CherryPy = "*"
colorama = "*"
#command-not-found = "*"
Genshi = "*"
html5lib = "*"
isodate = "*"
#language-selector = "*"
libgutenberg = {editable = true,git = "git://github.com/gutenbergtools/libgutenberg.git",ref = "0f22d173e58a57070ae0e4560e06eb829d871326"}
netaddr = "*"
oauth = "*"
oauthlib = "*"
Pillow = "*"
#pycurl = "*"
#PyGObject = "*"
pyparsing = "*"
#python-apt = "*"
pytz = "*"
qrcode = "*"
rdflib = "*"
regex = "*"
requests = "*"
requests-oauthlib = "*"
Routes = "*"
simplejson = "*"
six = "*"
SQLAlchemy = "*"
#ufw = "*"
#unattended-upgrades = "*"
urllib3 = "*"
psycopg2 = "==2.7.7"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
